{% set active_page = "Tutorials" %}
{% set page_title = "Tutorials" %}
{% extends "base.html" %}
{% block tabs %}
{% endblock %}


{% block content %}
<!--{% if request.args.get('tz') %}-->
<!--  {% set tzone = request.args.get('tz') %}-->
<!--argument: {{tzone}}-->
<!--{% else %}-->
<!--  {% set tzone = '' | localcheck %}-->
<!--localcheck: {{tzone}}-->
<!--{% endif %}-->
<!--finalchosen: {{tzone}}-->
{% set tzone = config.timezone %}
<div class="tab-content px-3 px-sm-0" id="nav-tabContent">
  <div id="day">
    <!-- Workshops -->
<!--    <h2 style="text-align: center;">Tutorials</h2>-->
    {{ components.subsection_tag("Tutorial", "tut") }}

    <div class="speakers">
      {{ components.tutorialscard(tutorials, tzone, tut_md) }}
    </div>
  </div>
</div>
<script src="static/js/anchor_offset.js"></script>
{% endblock %}
